<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item active">
                <a href="/produk" class="nav-link">Produk</a>
            </li>
            <li class="nav-item active">
                <a href="/user" class="nav-link">Users</a>
            </li>
            <li class="nav-item active">
                <a href="/transaksi" class="nav-link">Transaksi</a>
            </li>
        </ul>
    </nav>
    <div class="container mt-3">
        <code>.spinner-border-sm</code> or <code>.spinner-grow-sm</code> to create a smaller spinner:</p>

        <div class="spinner-border spinner-border-sm"></div>
        <div class="spinner-grow spinner-grow-sm"></div>
    </div>
</header>